body {
        // background-color: white;
}
h1,h2 {
        // background-color: aliceblue;
        border-left: solid green;
}
div {
        // background-color: #e8bf79;
}
a {
        text-decoration: none;
}
